<div class="container">
    <img class="cocktailimg" src="https://images.immediate.co.uk/production/volatile/sites/30/2020/08/mojito-cocktails-814a3f7.jpg?quality=90&resize=500%2C454" alt="Cocktail" width="500" height="500">

    <div class="instructions">
        <h1>Ingredients:</h1>
        <ul>
            <li>blah</li>
            <li>blah</li>
            <li>blah</li>
            <li>blah</li>
        </ul>

        <h1>Steps:</h1>
        <ul>
            <li>blah</li>
            <li>blah</li>
            <li>blah</li>
            <li>blah</li>
        </ul>

    </div>
</div>